# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env*.local

# dictionary data (large file, generated)
/data/jmdict.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
